.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Start navbar  */
@media(max-width:768px){
  .navbar .collapse .ax{
    width: 22%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width:425px){
  .navbar .collapse .ax .btn{
    font-size: .75rem;
  }
}
/* End navbar  */

/*start Home Page  */

/* media query for home page */
@media (max-width:650px){
  .container {
    text-align: center;
  }
}

  .container .row .logo{
    animation-duration: 6s;
    animation-name: fadeIn;
    animation-iteration-count: 2;
  }
  @keyframes fadeIn {
    0% {  
      margin-left: 0%;
    }
    50% {
      margin-left: 100px;
    }
    100% {
      margin-left: 0%;
    }
  }   
  /*End Home Page  */

